
    /* Estilos para tablets e celulares grandes */
  *{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #F2FADB;
}
.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img{
    height: 20em;
    width: 22em;
    position: relative;
    bottom: -18.5em;
    margin-bottom: 17.3em;
    display: inline-block;
}

.container-btn{
    background-color: #9DCC59;
    width: 23em;
    height: 3.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.1em;
    margin-top: 12em;
    margin-bottom: -16em;
}

.btn{
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #F8FCF4;
}

.paragrafo{
    font-size: 1.5em;
    margin-top: 7em;
    margin-bottom: -5em;
    font-weight: bold;
    color: #262626;
}


.bemvindo{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: -5em;
    margin-left: -0.5em;
    line-height: 1;
    color: #9DCC59;
}

@media (min-width: 481px) and (max-width: 850px) {
    /* Estilos para tablets */

img{
    height: 30em;
    width: auto;
    margin-top: 17em;
}

.container-btn{
    margin-top: 15em;
    margin-bottom: -35em;
    width: 30em;
    height: 5em;
}

.paragrafo{
    font-size: 2em;
    margin-top: 16em;
    margin-right: 1em;
}

.bemvindo{
    font-size: 3em;
    margin-bottom: -10em;
    margin-top: 3em;
}
  }

  @media (min-width: 851px) and (max-width: 2100px){

img{
    height: auto;
    width: 10em;
    background-color: rgba(127, 255, 212, 0);
}

.container-btn{
    width: 30em;
    height: 4em;
    margin-top: 13em;
    margin-bottom: -18em;
}

.paragrafo{
    font-size: 2em;
    margin-right: 1em;
    margin-top: 8em;
}
.bemvindo{
    font-size: 3em;
}

  }

  

















  