/* RESET */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F2FADB;
  font-family: Arial, Helvetica, sans-serif;
  color: #262626;
}

/* CONTAINER PRINCIPAL */
.container-principal{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 22px;
}

/* BLOCO OLÁ / BEM VINDO */
.bemvindo{
  text-align: left; /* Faz Olá e Bem Vindo começarem juntos */
  color: #9DCC59;
  margin-right: 6%;
  margin-top: 15%;
}

#titulo1,
#titulo2{
  font-size: clamp(3rem, 5vw, 3rem);
  line-height: 1.05;
}

/* TEXTO */
.paragrafo{
  width: min(520px, 100%);
  text-align: center;
  font-size: clamp(1.1rem, 4.2vw, 1.8rem);
  font-weight: bold;
  line-height: 1.4;
}
span{
    margin-right: 20%;
}

/* BOTÃO */
.container-btn{
  width: min(420px, 100%);
  background-color: #9DCC59;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  transition: 0.3s;
}

.container-btn:hover{
  transform: scale(1.03);
}

.btn{
  width: 100%;
  text-align: center;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  text-decoration: none;
  font-weight: bold;
  color: #F8FCF4;
}

/* LOGO */
.container-img{
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

.container-img img{
  width: min(320px, 75vw); /* Logo maior */
  height: auto;
}

/* ---------------- TABLET ---------------- */
@media (min-width: 600px){

  .container-principal{
    gap: 28px;
  }

  .container-img img{
    width: 340px;
  }

  .container-btn{
    width: 480px;
  }

}

/* ---------------- DESKTOP ---------------- */
@media (min-width: 1024px){

  .container-principal{
    max-width: 1100px;
    margin: 0 auto;
  }

  .container-img img{
    width: 380px; /* Logo maior no desktop */
    margin-left: 15%;
  }

  .container-btn{
    width: 550px;
    margin-left: 10%;
  }

  .bemvindo{
  text-align: left; /* Faz Olá e Bem Vindo começarem juntos */
  color: #9DCC59;
  margin-left: 18%;
  margin-top: 3%;
}

#titulo1,
#titulo2{
  font-size: clamp(7rem, 5vw, 3rem);
  line-height: 1.05;
}

}
  