* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #96c434;
    
}


    #container {
        z-index: -1;
        width: 100%;
        height: 100vh;
        margin-top: 120px;
        background-color: rgb(252, 252, 217);
        border-radius: 0 130px 0 0;
    }

    h1 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 50px;
        text-align: center;
        position: relative;
        top: 10px;
        animation: Grow 2s ease-in-out forwards;
    }


img {
    text-align: center;
    position: relative;
    top: 20px;
    height: 150px;
    width: auto;
    animation: Grow 2s ease-in-out forwards;
}

.containercadeado {
    text-align:center ;
    position: relative;
    margin-top: 10px;
    animation: Grow 2s ease-in-out forwards;
}

.prbl {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    animation: Grow 2s ease-in-out forwards;
} 



.p2{
    text-align:center ;
    position: relative;
    margin-top: 10px;
    animation: Grow 2s ease-in-out forwards;
}

.containerforms{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    margin-top: 30px;
    display: flex; /*ativa o flexbox para alinhar os itens*/
    flex-direction: column; /* organiza os itens verticalmente, um embaixo do outro */
    justify-content: center; /*centralizou horizontalmente*/
    align-items: center; /* centraliza os itens na horizontal */
    animation: Grow 2s ease-in-out forwards;
}

input {
    background-color: rgba(0, 255, 255, 0);
    width: 230px;
    height: 40px;
    border-radius: 12px;
    background-color: #CDD1BE;
    border: 1px solid #CDD1BE ;
    animation: Grow 2s ease-in-out forwards;
}


.container-btn {
    background-color: #06730200;
    display: flex;
    justify-content: center;
    animation: Grow 2s ease-in-out forwards;
    height: 50px;
    margin-top: 25px;
    transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
}

.btn:hover {
    box-shadow: 0 0 40px 40px rgba(15, 15, 15, 0.7) inset; /* Sombra com tom vermelho */
    background-color: #5c5c5c; /* Tonalidade um pouco mais clara de preto */
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
}


.btn {
    background-color: #000000;
    border-radius: 15px;
    width: 230px;
    height: 50px;
    line-height: 50px; /* Centraliza o texto verticalmente */
    text-align: center;
    color: white;
    text-decoration: none;
    border: 1px solid #000000;
    font-family: Arial, sans-serif; /* Garanta que a fonte seja consistente */
    font-size: 16px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end;   /* Alinha ao fundo verticalmente */
    animation: Grow 2s ease-in-out forwards;
}
   
.container-voini {
    background-color: #067302;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;
}
.container-voini:hover {
    box-shadow: 0 0 40px 40px rgba(15, 15, 15, 0.7) inset; /* Sombra com tom vermelho */
    background-color: #5c5c5c; /* Tonalidade um pouco mais clara de preto */
    transform: scale(1.05); /* Aumenta o tamanho do botão em 5% */
}


.barravoltar {
    background-color: #96c434;
    width: 100%;
    height: 50px;
    line-height: 50px; /* Centraliza o texto verticalmente */
    text-align: center;
    color: #067302;
    text-decoration: none;
    border: 1px solid #00000000;
    font-family: Arial, sans-serif; /* Garanta que a fonte seja consistente */
    font-size: 16px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end;   /* Alinha ao fundo verticalmente */

}

@keyframes Grow {
    0% {
        transform: scale(0); /* Tamanho inicial */
    }
    100% {
        transform: scale(1.0); /* Aumenta o tamanho em 20% */
    }
}



@media (min-width: 376px) and (max-width: 430px) {
    /* Estilos para telas entre 376px e 425px */
    .container-voini {
        margin-top: 30%;
    }
    .barravoltar {
        background-color: #96c434;
        width: 100%;
        height: 65px;
        line-height: 70px; /* Centraliza o texto verticalmente */
    }
    .btn {
        position: relative;
        top: 0%;
    }
    #container {
        margin-top: 130px;
    }

    .containerforms{
        margin-top: 100px;
    }
    .container-voini {
        margin-top: 45px;
    }
    
}


@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets entre 768px e 1024px */
 
    .container-voini {
        margin-top: 0%;
    }
    .barravoltar {
        background-color: #96c434;
        width: 100%;
        height: 65px;
        line-height: 70px; /* Centraliza o texto verticalmente */
        position: relative;

    }
    .btn {
        position: relative;
        top: 0%;
        width: 40%;
        height: 50px;
    }
    #container {
        margin-top: 130px;
    }

    .containerforms{
        margin-top: 240px;
        
    }
    .container-voini {
        margin-top: 125px;
    }
    input {
        width: 40%;
        height: 50px;
    }
    .p2{
        font-size: 25px;
        margin-top: 20%;
        margin-bottom: -23%;
    }
    .prbl {
        font-size: 30px;
        position: relative;
        bottom: -130px;
    }
    img {
        position: relative;
        top: 75px;
        height: 250px;
    }
    .containercadeado {
        margin-top: -90px;
        margin-bottom: -5%;
    }

}