* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #96c434;
}


    #container {
        z-index: -1;
        width: 100%;
        height: 100vh;
        margin-top: 120px;
        background-color: rgb(252, 252, 217);
        border-radius: 0 130px 0 0;
    }

    h1 {
        background-color: rgba(0, 255, 255, 0);
        font-size: 50px;
        text-align: center;
        position: relative;
        top: 10px;
        
    }


img {
    text-align: center;
    position: relative;
    top: 20px;
    height: 150px;
    width: auto;
}

.containercadeado {
    text-align:center ;
    position: relative;
    margin-top: 10px;
}

.prbl {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
} 



.p2{
    text-align:center ;
    position: relative;
    margin-top: 10px;
}

.containerforms{
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    margin-top: 30px;
    display: flex; /*ativa o flexbox para alinhar os itens*/
    flex-direction: column; /* organiza os itens verticalmente, um embaixo do outro */
    justify-content: center; /*centralizou horizontalmente*/
    align-items: center; /* centraliza os itens na horizontal */
    
}

input {
    background-color: rgba(0, 255, 255, 0);
    width: 230px;
    height: 40px;
    border-radius: 12px;
    background-color: #CDD1BE;
    border: 1px solid #CDD1BE ;
}


.container-btn {
    background-color: #06730200;
    display: flex;
    justify-content: center;
    
    height: 50px;
    margin-top: 25px;

}

.btn {
    background-color: #000000;
    border-radius: 15px;
    width: 230px;
    height: 50px;
    line-height: 50px; /* Centraliza o texto verticalmente */
    text-align: center;
    color: white;
    text-decoration: none;
    border: 1px solid #000000;
    font-family: Arial, sans-serif; /* Garanta que a fonte seja consistente */
    font-size: 16px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end;   /* Alinha ao fundo verticalmente */

}
   
.container-voini {
    background-color: #067302;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.barravoltar {
    background-color: #96c434;
    width: 100%;
    height: 50px;
    line-height: 50px; /* Centraliza o texto verticalmente */
    text-align: center;
    color: #067302;
    text-decoration: none;
    border: 1px solid #00000000;
    font-family: Arial, sans-serif; /* Garanta que a fonte seja consistente */
    font-size: 16px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-end;   /* Alinha ao fundo verticalmente */

}