CREATE TABLE PESSOA (
  ID_INT_PES INTEGER PRIMARY KEY AUTOINCREMENT,
  NOM_STR_PES TEXT NOT NULL,
  CPF_STR_PES TEXT NOT NULL
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE FUNCIONARIO (
  ID_INT_FUN TEXT NOT NULL,
  PES_ID_INT_FUN INTEGER NOT NULL,
  CAR_STR_FUN TEXT NOT NULL,
  PRIMARY KEY (ID_INT_FUN, PES_ID_INT_FUN),
  FOREIGN KEY (PES_ID_INT_FUN) REFERENCES PESSOA (ID_INT_PES)
);
CREATE TABLE CLIENTE (
  ID_INT_CLI INTEGER NOT NULL,
  PES_ID_INT_CLI INTEGER NOT NULL,
  END_STR_CLI TEXT NOT NULL,
  PRIMARY KEY (ID_INT_CLI, PES_ID_INT_CLI),
  FOREIGN KEY (PES_ID_INT_CLI) REFERENCES PESSOA (ID_INT_PES)
);
CREATE TABLE VENDA (
  ID_INT_VEN INTEGER PRIMARY KEY AUTOINCREMENT,
  CLI_PES_ID_INT_PES INTEGER NOT NULL,
  VAL_DOU_VEN REAL NOT NULL,
  COD_STR_VEN TEXT NOT NULL UNIQUE,
  END_STR_CLI_VEN TEXT NOT NULL,
  FOREIGN KEY (CLI_PES_ID_INT_PES) REFERENCES CLIENTE (PES_ID_INT_CLI)
);
CREATE TABLE COLHEITA (
  ID_INT_COL INTEGER PRIMARY KEY AUTOINCREMENT,
  DES_STR_COL TEXT NOT NULL,
  DAT_DAT_COL DATE NOT NULL
);
CREATE TABLE FORNECEDOR (
  ID_INT_FOR INTEGER PRIMARY KEY,
  CNPJ_STR_FOR TEXT,
  NOM_STR_FOR TEXT NOT NULL UNIQUE,
  END_STR_FOR TEXT NOT NULL
);
CREATE TABLE PRODUTO (
  ID_INT_PRO INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  DES_STR_PRO TEXT NOT NULL,
  VAL_DAT_PRO DATE NOT NULL,
  PRE_DOU_PRO REAL NOT NULL,
  VEN_ID_INT_PRO INTEGER NOT NULL,
  COL_ID_INT_PRO INTEGER NOT NULL,
  FOR_ID_INT_PRO INTEGER NOT NULL,
  FOREIGN KEY (VEN_ID_INT_PRO) REFERENCES VENDA (ID_INT_VEN),
  FOREIGN KEY (COL_ID_INT_PRO) REFERENCES COLHEITA (ID_INT_COL),
  FOREIGN KEY (FOR_ID_INT_PRO) REFERENCES FORNECEDOR (ID_INT_FOR)
);
CREATE TABLE CULTIVO (
  ID_INT_CUL INTEGER PRIMARY KEY AUTOINCREMENT,
  DES_STR_CUL TEXT NOT NULL,
  DAT_DAT_CUL DATE NOT NULL,
  PRO_ID_INT_CUL INTEGER NOT NULL,
  PRO_COL_ID_INT_CUL INTEGER NOT NULL,
  FOREIGN KEY (PRO_ID_INT_CUL, PRO_COL_ID_INT_CUL) REFERENCES PRODUTO (ID_INT_PRO, COL_ID_INT_PRO)
);
CREATE TABLE RELATORIO (
  ID_INT_REL INTEGER PRIMARY KEY,
  DES_STR_REL TEXT NOT NULL, -- Substitu├¡do JSON por TEXT no SQLite
  COL_ID_INT_REL INTEGER NOT NULL,
  CUL_ID_INT_REL INTEGER NOT NULL,
  CUL_PRO_ID_INT_REL INTEGER NOT NULL,
  CUL_PRO_COL_ID_INT_REL INTEGER NOT NULL,
  VEN_ID_INT_REL INTEGER NOT NULL,
  FOREIGN KEY (COL_ID_INT_REL) REFERENCES COLHEITA (ID_INT_COL),
  FOREIGN KEY (CUL_ID_INT_REL, CUL_PRO_ID_INT_REL, CUL_PRO_COL_ID_INT_REL) REFERENCES CULTIVO (ID_INT_CUL, PRO_ID_INT_CUL, PRO_COL_ID_INT_CUL),
  FOREIGN KEY (VEN_ID_INT_REL) REFERENCES VENDA (ID_INT_VEN)
);
CREATE TABLE Usuarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT NOT NULL,
    senha TEXT NOT NULL,
    telefone TEXT NOT NULL
, endereco TEXT, complemento TEXT, cep TEXT, cpf TEXT);
